
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">What time is it now?</h1>
    <p> @DateTime.Now </p>
    <h2>Its party time !!!</h2>
</div>
